<!-- Footer -->
<footer class="page-footer transparent">
  <div class="row">
    <div class="col l12 m12 s12">
      <div class="center-align">
        {{> disclaimer}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col l12 m12 s12">
      <div class="social">
          <ul>
            <li><a href="https://www.facebook.com/Jsinh" class="footer-social-links" title="I do not send candy crush requests"><img src="{{asset "/images/social-facebook.svg"}}" class="footer-social-icons z-depth-2 circle" /></a></li>
            <li><a href="https://twitter.com/_jsinh" class="footer-social-links" title="Try with 150 character or less"><img src="{{asset "/images/social-twitter.svg"}}" class="footer-social-icons z-depth-2 circle" /></a></li>
            <li><a href="https://plus.google.com/+JaspalsinhChauhanthisdotlife?rel=author" class="footer-social-links" title="Plus or something"><img src="{{asset "/images/social-googleplus.svg"}}" class="footer-social-icons z-depth-2 circle" /></a></li>
            <li><a href="http://life.jsinh.in/" class="footer-social-links" title="I post every 5 years, promise"><img src="{{asset "/images/social-tumblr.svg"}}" class="footer-social-icons z-depth-2 circle" /></a></li>
            <li><a href="http://www.linkedin.com/profile/view?id=160776884" class="footer-social-links" title="Professional and awwll"><img src="{{asset "/images/social-linkedin.svg"}}" class="footer-social-icons z-depth-2 circle" /></a></li>
            <li><a href="https://www.youtube.com/user/jachauhan/" class="footer-social-links" title="It's tube not porn :o"><img src="{{asset "/images/social-youtube.svg"}}" class="footer-social-icons z-depth-2 circle" /></a></li>
            <li><a href="skype:jachauhan?chat" class="footer-social-links" title="Jibber Jabber on Skype"><img src="{{asset "/images/social-skype.svg"}}" class="footer-social-icons z-depth-2 circle" /></a></li>
            <li><a href="https://github.com/jsinh" class="footer-social-links" title="You might find some interesting loops to chew on"><img src="{{asset "/images/social-github.svg"}}" class="footer-social-icons z-depth-2 circle" /></a></li>
            <li><a href="{{@blog.url}}/rss/" class="footer-social-links" title="Subscribe to this blog's blah blah"><img src="{{asset "/images/social-rss.svg"}}" class="footer-social-icons z-depth-2 circle" /></a></li>
          </ul>
      </div>
    </div>
  </div>
  <div class="grey darken-3 white-text">
    <div class="row">
      <div class="col l6 m12 s12 transparent">
        <div class="footer-copyright">
          <div class="center-align">
            This blog is <a href="https://www.digitalocean.com/?refcode=8a6cc3b858ed" rel="external" class="link-theme-active-to-white">Haunted</a> with <a href="https://ghost.org" rel="external" class="link-theme-active-to-white">Ghost</a> and does not look <a href="https://github.com/jsinh/needy-ghost" rel="external" class="link-theme-active-to-white">needy</a> at all anymore.
          </div>
        </div>
      </div>
      <div class="col l6 m12 s12 transparent">
        <div class="footer-copyright">
          <div class="center-align">
            Copyright &copy; <a href="{{@blog.url}}" class="link-theme-active-to-white">{{@blog.title}}</a> 2011-{{date format="YYYY"}} &bull; All rights reserved.
          </div>
        </div>
      </div>
    </div>
    <div class="footer-icon-credits">
      <div class="container center-align">
        Build on top of <a href="http://materializecss.com" title="Materialize CSS" class="link-theme-active-to-white">Materialize CSS</a> with love |
        Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik" class="link-theme-active-to-white">Feepik</a>, <a href="http://www.danielbruce.se" title="Daniel Bruce" class="link-theme-active-to-white">Daniel Bruce</a>, <a href="http://www.flaticon.com/authors/linh-pham" title="Linh Pham" class="link-theme-active-to-white">Linh Pham</a>, <a href="http://www.icomoon.io" title="Icomoon" class="link-theme-active-to-white">Icomoon</a>, <a href="http://www.elegantthemes.com" title="Elegant Themes" class="link-theme-active-to-white">Elegant Themes</a> from <a href="http://www.flaticon.com" title="Flaticon" class="link-theme-active-to-white">Flaticon</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" class="link-theme-active-to-white" title="Creative Commons BY 3.0">CC BY 3.0</a>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer -->
