<header>
    <div id="header-left">
        <a href="{{@blog.url}}" title="Home" id="logo">
            <img src="{{@blog.logo}}">
            <h1>{{@blog.title}}</h1>
        </a>
    </div>
    <div id="header-right">
        <nav>
            <ul>
                {{! Create your blog menu here - sample given below }}
                <li><a href="{{@blog.url}}/tools">Barney and Clyde</a></li>
                <li><a href="{{@blog.url}}/discography">Archive</a></li>
                <li><a href="{{@blog.url}}/disclaimer">Disclaimer</a></li>
            </ul>
        </nav>
    </div>
</header>
