<header>
    <div id="header-left">
        <a href="{{@blog.url}}" title="Home" id="logo">
            <img src="{{asset "/images/ThisDotLife.png"}}">
            <h1>This Dot Life</h1>
        </a>
    </div>
    <div id="header-right">
        <nav>
            <ul>
                <li><a href="{{@blog.url}}/tools">Tools</a></li>
                <li><a href="{{@blog.url}}/archive-page">Archive</a></li>
                <li><a href="{{@blog.url}}/disclaimer">Disclaimer</a></li>
            </ul>
        </nav>
    </div>
</header>