<!-- Header -->
<header>
  <nav class="grey darken-3">
    <div class="nav-wrapper">
      <a href="{{@blog.url}}" title="Go to - '{{@blog.title}}' - Home" class="link-white-to-theme-active brand-logo">
        <div class="blog-title"><img class="z-depth-3 blog-logo circle valign" src="{{@blog.logo}}" /><span class="blog-title-text valign">{{@blog.title}}</span></div>
      </a>
      {{navigation}}
    </div>
  </nav>
</header>
<!-- /Header -->
