<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html><!--<![endif]-->
<head>
    {{! ----------------------------------- Document setting ----------------------------------- }}
    <!-- Encoding used -->
    <meta charset="utf-8" />
    <!-- IE version's standard fix -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {{! ----------------------------------- Document setting ----------------------------------- }}

    {{! --------------------------------------- Page meta --------------------------------------- }}
    <!-- Page title -->
    {{#is "post, page"}}
        <title>{{meta_title}} - {{@blog.title}}</title>
    {{else}}
        <title>{{meta_title}}</title>
    {{/is}}
    <!-- Page description -->
    <meta name="description" content="{{meta_description}}"/>
    <!-- Page Authorship -->
    <link rel="author" href="https://plus.google.com/+JaspalsinhChauhanthisdotlife"/>
    <!-- Page keywords -->
    <meta name="keywords" content="Jsinh,Jaspal,Jachauhan,Jaspalsinh Chauhan,This dot life,_jsinh,jsinh blog,dotnet,.NET,C#,csharp,ASP.NET,ASP.NET MVC,ASP.NET 5,how to,tutorials" />
    <!-- Page robots -->
    <meta name="robots" content="index,follow" />
    {{! --------------------------------------- Page meta --------------------------------------- }}

    {{! ------------------------------------- Responsive meta ------------------------------------ }}
    <!-- Responsive UI design meta -->
    <meta name="HandheldFriendly" content="True" />
    <!-- Responsive UI viewport fix -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    {{! ------------------------------------- Responsive meta ------------------------------------ }}

    {{! ---------------------------------------- Favicon ----------------------------------------- }}
    <!-- Favicon -->
    <link rel="icon" href="{{asset "/favicon.ico"}}" type="image/x-icon">
    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}" type="image/x-icon">
    {{! ---------------------------------------- Favicon ----------------------------------------- }}

    {{! Needy Ghost Theme: Partials - Site wide HEAD CSS }}
    {{> parts-default-head}}

    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{! Needy Ghost Theme: Partials - Site wide header }}
    {{> header}}

    <div id="body" role="main">
    <div class="loader" role="loader"><div class="loader-icon"></div></div>
        <div id="content">
            {{! Everything else gets inserted here }}
            {{{body}}}
        </div>
        {{> sidebar}}
    </div>

    <a href="#" class="back-to-top">Back to Top</a>

    {{! Needy Ghost Theme: Site wide disclaimer }}
    {{> disclaimer}}

    {{! Needy Ghost Theme: Site wide footer section }}
    <footer id="footer">

        {{! Needy Ghost Theme: Partials - Social badge integration }}
        {{> social-footer}}

        {{! Needy Ghost Theme: Partials - Site wide footer notes }}
        {{> footer-notes}}
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! Awwaal scripts load here }}
    <!-- Load: FitVids - making videos responsive -->
    <script src="//cdn.jsdelivr.net/fitvids/1.1.0/jquery.fitvids.js"></script>
    <!-- Load: Highlight - formatting for code snippets -->
    <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
    <!-- Load: Main - site wide script -->
    <script type="text/javascript" src="{{asset "/js/main.js"}}"></script>
    <!-- Initialize: code formatter - Highlight -->
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
