{{!< default}}
{{#foreach posts}}
<article class="{{post_class}} blog-list-item-article card-panel grey lighten-5">
    <div class="section">
      <h5 class="link-theme-active-to-black"><a href="{{url}}" class="link-theme-active-to-black">{{{title}}}</a></h5>
      <p class="valign">{{excerpt words="150"}} <a class="link-theme-active-to-black" href="{{url}}">&raquo; Read more</a></p>
    </div>
    <div class="divider"></div>
    <div class="section">
      {{#author}}
      <i class="mdi-social-person-outline right-align"></i>&nbsp;<strong><a class="link-theme-active-to-black valign left-align" href="{{url}}" title={{name}}>{{name}}</a></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      {{/author}}
      <i class="tiny mdi-device-access-alarms valign right-align"></i>&nbsp;<time class="valign right-align" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
    </div>
</article>
{{/foreach}}
{{pagination}}
