{{!< default}}
{{#post}}
	<article>
	    <header class="post-excerpt-header">
	        <h2><a href="{{url}}">{{title}}</a></h2>
	        <hr />
	        {{! Needy Ghost Theme: Post wide meta information - Author, Published time }}
        	{{> post-meta}}
	    </header>
	    <section class="post-excerpt-content">
	        <div class="post-content">{{content}}</div>
	    </section>
	    <hr />
	    <footer class="post-excerpt-footer">
	        <div id="profile"><img src="{{author.image}}" alt="This is what {{author.name}} looks like !!" class="profile-photo"><h2>{{author}}</h2></img></div>
	        <div id="about-me-text">
	            <span>{{author.bio}}</span>
	        </div>
	        <div id="tag-cloud">
	        {{! Needy Ghost Theme: Post wide tags }}
        	{{#if tags}}
	            <span class="post-excerpt-footer-taglabel">{{tags}}</span>
    	    {{/if}}
	        </div>
	        <div id="add-this">
	        	{{! AddThis (addthis.com) integration code - Paste here }}
	        </div>
	        {{! Disqus integration code - Paste here }}
	    </footer>
	</article>
{{/post}}
